footer {
  background: $blueColor;
}

.footer-container {
  display: flex;
  min-height: 55vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-container {
  width: 30.5%;
  transform: translateX(-80px);
}

.footer-logo {
  @include setResponsiveSize(100%, auto);
  border: 29px solid $whiteColor;
  border-radius: 50%;
}

.footer-menu-container {
  display: flex;
  flex-direction: column;
  transform: translateX(-245px);
  z-index: 1;
}

.footer-link {
  text-decoration: none;
  margin: 20px 0 0 0;
  color: $whiteColor;
  align-self: flex-end;
  font-weight: 550;
  &:hover {
    color: $yellowColor;
  }
}

.footer-shape {
  position: absolute;
  width: 100%;
  transform: translateY(-200px);
}

.footer-menu-shape {
  position: absolute;
  width: 9%;
  left: 60%;
  transform: translate(-14px, -315px);
}