<div class="col-md-4"></div>
<div class="col-md-4">
  <h1 class="text-italic">Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        ngModel
        #emailInput="ngModel"
        type="text"
        name="email"
        id="email"
        class="form-control"
        placeholder="john.doe@domain.bg"
        [pattern]="emailRegex"
        required
      />
      <p *ngIf="emailInput?.touched && emailInput?.invalid" class="error-message">Email is invalid!</p>
      <p *ngIf="!emailInput?.errors" class="valid-message">Validation passed!</p>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        ngModel
        #passwordInput="ngModel"
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="************"
        minlength=6
        required
      />
      <p *ngIf="passwordInput?.touched && passwordInput?.invalid" class="error-message">Password is required!</p>
      <p *ngIf="!passwordInput?.errors" class="valid-message">Validation passed!</p>
    </div>

    <button [disabled]="loginForm.invalid" class="btn btn-success" >Login</button>
  </form>
  <p>Don't have account yet? <a routerLink="/user/register">Register</a>.</p>
</div>
